@import '../../../global_styles/global.scss';
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.stylepreview__loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 4;
}

.controls {
  position: absolute;
  height: 92px;
  width: inherit;
  left: 28;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 15%, #000000 100%);
  z-index: 3;
}

.zoom-controls {
  top: 0;
  bottom: 30;
}

.zoom-icon {
  fill: white;
  float: right;
  padding-top: 10px;
  padding-right: 10px;
  width: 30px;
  height: 30px;
  z-index: 4;
}

.zoom-icon:hover {
  cursor: pointer;
  transform: scale(1.5, 1.5);
}

.slider-controls {
  top: 30;
  bottom: 0;
  background: linear-gradient(-179deg, rgba(0, 0, 0, 0.00) 15%, #000000 100%);
}

.fade-in {
  animation: fade-in 0.2s normal;
}

input[type=range] {
  margin-top: 37px;
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  transition: 0.3s all ease-in-out;
}

input[type=range]::-webkit-slider-thumb:hover {
  transform: scale(1.5, 1.5);
}

input[type=range]::-webkit-slider-thumb {
  border: 1px solid rgba(0, 0, 0, 0.10);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px;
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.16), 0px 6px 2px 0px rgba(0, 0, 0, 0.10);
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.16), 0px 6px 2px 0px rgba(0, 0, 0, 0.10);
  border: 1px solid rgba(0, 0, 0, 0.10);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.16), 0px 6px 2px 0px rgba(0, 0, 0, 0.10);
  border: 1px solid rgba(0, 0, 0, 0.10);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: black;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #eee;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: black;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: black;
}

input[type=range]::-ms-fill-upper {
  background: white;
}

.hide {
  display: none;
}

.stylepreview {
  display: inline-block;
  position: relative;
  margin-top: 30px;
  margin-left: 28px;
  width: 415px;
  height: 377px;
}
