ul > li {
    list-style-type: none;
}

.stylelist {
    float: right;
    height: 450px;
    margin-top: 30px;
    margin-right: 100px;
    padding-right: 30px;
    overflow-x: hidden;
    overflow-y: auto;
}
